@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
:root {
    --title-color: #232d39;
    --color-cat-title: #212529;
    --color-title: #d49c9388;
    --shadow-color: #f2f2f2d7;
    --main-color: #03093a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--main-color);
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container-sub-head {
    background: var(--main-color);
    position: sticky;
    top: 0;
}

.container-sub-head .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 80px;
    flex-wrap: wrap;
}

.container-sub-head .container h1 {
    font-size: 45px;
    word-spacing: 20px;
    letter-spacing: 10px;
    color: #1f4770;
}

.container-sub-head .container h1 span {
    color: #254346da;
}

.container-sub-head .container h3 {
    font-size: 25px;
    font-weight: 500;
    color: #fcfcfc;
}

.main-container {
    display: grid;
    grid-template-columns: 19% auto;
    gap: 2px;
    grid-auto-rows: minmax(100px, auto);
}

.row-cat {
    grid-column: 1;
    grid-row: 1;
}

.row-cat form {
    /* background-color: red; */
    padding: 10px;
}

.row-cat form .container-items-aside {
    /* background: var(--main-color); */
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-items-aside .item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px 0 0 10px;
}

.container-items-aside .item h5 {
    font-size: 18px;
    margin-bottom: 5px;
}